<mat-toolbar
    class="mat-elevation-z6 flex-none"
    color="primary">
    <span>Rxjs Leak Check</span>
    <span class="flex flex-1"></span>

    <!-- TODO
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    -->
    
    <a
        href="https://www.github.com/talque/rxjs-leak-check"
        mat-icon-button
        aria-label="Go to github page">
        <mat-icon svgIcon="github"></mat-icon>
    </a>
</mat-toolbar>


<mat-sidenav-container
    class="flex flex-1 min-h-0">

    <mat-sidenav
        #sidenav
        mode="side"
        opened>

        <mat-nav-list>
            <a
                *ngFor="let item of menu"
                mat-list-item
                [routerLink]="item.path">
                {{ item.label }}
            </a>
        </mat-nav-list>

    </mat-sidenav>
    
    <mat-sidenav-content
        class="flex flex-1 min-h-0">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


<app-footer></app-footer>
