<mat-toolbar
    class="mat-elevation-z6 flex-none"
    color="primary">
    <span>Rxjs Leak Check</span>
    <span class="flex flex-1"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>


<mat-sidenav-container
    class="flex flex-1 min-h-0">

    <mat-sidenav
        #sidenav
        mode="side"
        opened>

        <mat-nav-list>
            <a
                *ngFor="let item of menu"
                mat-list-item
                [routerLink]="item.path">
                {{ item.label }}
            </a>
        </mat-nav-list>

    </mat-sidenav>
    
    <mat-sidenav-content
        class="flex flex-1 min-h-0">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar
    color="primary">
    Footer
</mat-toolbar>
