@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$custom-theme: mat.m2-define-light-theme((
    color: (
        primary: mat.m2-define-palette(mat.$m2-indigo-palette),
        accent: mat.m2-define-palette(mat.$m2-pink-palette),
    ),
    typography: mat.m2-define-typography-config(
        $headline-5: mat.m2-define-typography-level(
            $font-size: 48px,
        ),
        $body-2: mat.m2-define-typography-level(
            $font-size: 1rem,
            $line-height: 1.5,
        ),
    ),
));


@include mat.core();
@include mat.all-component-bases($custom-theme);


@import 'node_modules/highlight.js/scss/github-dark.scss'
