@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$custom-typography: mat.define-legacy-typography-config(
    $headline: mat.define-typography-level(
        $font-size: 48px,
    ),
    $body-1: mat.define-typography-level(
        $font-size: 1rem,
        $line-height: 1.5,
    ),
);
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($custom-typography);`
@include mat.all-legacy-component-typographies($custom-typography);
@include mat.legacy-core();


@import 'node_modules/highlight.js/scss/github-dark'
