@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$custom-typography: mat.define-typography-config(
    $headline: mat.define-typography-level(
        $font-size: 48px,
    ),
    $body-1: mat.define-typography-level(
        $font-size: 1rem,
        $line-height: 1.5,
    ),
);
@include mat.core($custom-typography);


@import 'node_modules/highlight.js/scss/github-dark'
